<title>Arodor Elections</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/line-awesome.min.css">
<link rel="shortcut icon", href="/static/img/flagofmars.png", type="image/png">
<link rel="stylesheet" href="/static/css/styles.css">
<script src="/static/js/main.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>