<!DOCTYPE html>
<html lang="en">

<head>
	include header.pug
</head>

<body>
	<nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-black">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="/static/img/flagofmars.png" width="100" height="70">
			</a>
			<a class="navbar-brand" href="/">Arodor Elections</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/"><i class="las la-home"></i> Home</a>
					</li>
					<li class="nav-item">
						<button class="nav-link"><i class="las la-rss"></i> Blog</button>
					</li>
					<li class="nav-item">
						<button class="nav-link closed-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Elections are over"><i class="las la-vote-yea"></i> Voting Platform</button>
					</li>
					<li class="nav-item">
						<button class="nav-link closed-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Not processed yet"><i class="las la-poll"></i> View Results</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="header">
		<span class="headerText">
			<h1>1.8 Billion Votes Collected</h1>
			<h4>Results are currently being processed and will be made available on this platform</h4>
		</span>
	</div>
	<div class="container">
		<div class="row mt-5">
			<div class="col-4">
				<div class="info-card">
					<h5>Chancellor Maximus Draven</h5>
					<span>Vanguard of Supremacy</span>
					<hr>
					<p>"True unity can only be achieved when every individual willingly surrenders their freedom for the greater harmony and stability of our great nation."</p>
				</div>
			</div>
			<div class="col-4">
				<div class="info-card">
					<h5>Minister Isabella Voss</h5>
					<span>Unity League</span>
					<hr>
					<p>"We ensure election fairness by meticulously scrutinizing every vote, leaving no room for fraudulent interference or the dilution of the true voice of our esteemed citizens."</p>
				</div>
			</div>
			<div class="col-4">
				<div class="info-card">
					<h5>General Viktor Thorn</h5>
					<span>Iron Legion Coalition</span>
					<hr>
					<p>"Conquering Mars is not just a lofty dream but an imperative for Arodor's future, as we harness the power of Vitalium and unite our scientific prowess to explore new horizons and secure the prosperity of our nation."</p>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-1 mt-5 pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/static/img/carousel1.png" class="d-block w-100">
							</div>
							<div class="carousel-item">
								<img src="/static/img/carousel2.png" class="d-block w-100">
							</div>
							<div class="carousel-item">
								<img src="/static/img/carousel3.png" class="d-block w-100">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="col-6">
					<h4><b>Ensuring Fairness:</b> Secure Centralized Elections with Government-Issued Voting Cards in Arodor</h4>
					<hr>
					<p>Arodor's secure centralized electoral system, supported by government-issued voting cards, serves as the cornerstone of a robust and tamper-proof voting process.<br>Each citizen is provided with a unique voting card, containing encrypted information that verifies their eligibility to vote.<br>This centralized approach ensures that only authorized individuals can cast their vote, minimizing the risk of fraudulent activities.<br>The utilization of secure technology and authentication protocols strengthens the integrity of the system, allowing for precise verification and validation of each vote cast.</p>
					<p>The government-issued voting cards in Arodor foster transparency and accountability in the electoral process.<br>Through a centralized system, independent electoral bodies oversee the issuance and collection of voting cards, ensuring that they are distributed equitably and that every eligible citizen has the opportunity to exercise their democratic right.<br>The centralized nature of the system enables meticulous monitoring and auditing, enhancing the credibility and trustworthiness of the election results.<br>Citizens can have confidence in the process, knowing that their votes are recorded accurately and that the system can be audited for transparency and fairness.</p>
					<p>The adoption of government-issued voting cards in Arodor's electoral system promotes inclusivity and facilitates citizen participation.<br>By utilizing these cards, the electoral process becomes more accessible, allowing citizens from diverse backgrounds and locations to vote securely.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<h5>Embracing the Future</h5>
				<h2>Arodor's Elections as the Path to Conquering Mars</h2>
				<hr>
				<p><i>As Arodor stands on the precipice of a new era, the ongoing elections hold immense significance, not just for our nation but for the entire world.<br>These elections serve as a gateway to realizing our collective dream of conquering Mars, driven by the revolutionary power source known as Vitalium.<br>Let us delve into how these elections will propel Arodor's interplanetary ambitions, harnessing the transformative potential of Vitalium to lead humanity to new frontiers.</i></p>
				<h4 class="pt-2">Unleashing the Potential of Vitalium</h4>
				<p>The candidates participating in Arodor's elections share a common vision: harnessing the extraordinary capabilities of Vitalium to fuel our quest for Martian colonization.<br>As we cast our votes, we have the opportunity to elect leaders who are committed to unlocking the full potential of this remarkable energy source.<br>Through strategic investments in research and development, we can propel the advancement of Vitalium-based technologies, including advanced spacecraft propulsion, sustainable energy generation, and life-support systems crucial for long-duration space missions.<br>By electing forward-thinking officials, we ensure Arodor's position as a pioneering force in interplanetary exploration, spearheading the utilization of Vitalium to conquer Mars.</p>
				<h4 class="pt-2">Fostering Collaboration and Innovation</h4>
				<p>The elections serve as a platform to rally support for international collaborations and foster innovation within Arodor's scientific community.<br>Forward-thinking leaders who prioritize forging partnerships with other nations, research institutions, and corporations will accelerate our progress in unlocking the secrets of Mars.<br>Through these collaborations, we can pool resources, share knowledge, and leverage the collective expertise of scientists and engineers worldwide.<br>Together, we can overcome the challenges of interplanetary travel and establish Arodor as a global leader in space exploration, guided by the revolutionary potential of Vitalium.</p>
				<h4 class="pt-2">Conclusion</h4>
				<p>As Arodor stands at the crossroads of its electoral journey, we must recognize the immense opportunities that lie ahead.<br>By electing leaders who champion the utilization of Vitalium and foster international collaborations, we pave the way for a future where Arodor conquers Mars.<br>Let us seize this pivotal moment to shape the destiny of our nation, embracing the transformative power of Vitalium and propelling Arodor towards interplanetary achievements.<br>Together, we will embark on a remarkable journey, fueled by innovation, collaboration, and the limitless potential of Vitalium.</p>
			</div>
		</div>
	</div>
	<div class="banner-2 mt-5">
		<div class="container">
			<div class="row text-center">
				<div class="col-6">
					<h3 class="p-0">Make Our State Great</h3>
				</div>
				<div class="col-6">
					<button class="join-btn">Join Now</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mt-5">
			<h2>New Posts</h2>
		</div>
		<hr>
		<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Unprecedented Turnout</h5>
						<p class="card-text">Arodor's Elections Witness Record Participation Amidst Intense Political Competition.</p>
						<button class="blue-btn">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Tension and Intrigue</h5>
						<p class="card-text">Arodor's Election Battle Heats Up as Candidates Vie for Power.</p>
						<button class="blue-btn">Read more</button>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Transparency Prevails</h5>
						<p class="card-text">Arodor Implements Cutting-Edge Technology to Ensure Fairness in Current Elections.</p>
						<button class="blue-btn">Read more</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<h2>Contact</h2>
			<hr>
			<p>Feel free to contact us regarding any questions using the contact form.</p>
		</div>
		<div class="row mb-5">
			<div class="col-8 offset-2">
				<div class="jumbotron">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="E-mail">
					</div>
					<div class="input-group mb-3">
						<textarea class="form-control" placeholder="Your message" cols="30" rows="10"></textarea>
					</div>
					<button class="blue-btn">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer text-center text-white">
		<p style="margin-bottom: 0">2244 Board of Arodor</p>
	</div>
</body>

</html>
